<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Dieren</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <a href="/Home/Index"> <img src="~/Content/logo.png"></a>
    <h1>Dieren kopen</h1>
    <h3>Honden</h3>
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Leeftijd</th>
                <th>Reg. Nr.</th>
                <th>Gereserveerd</th>
            </tr>
            <tr>
                <td><b>Bowi</b></td>
                <td>12</td>
                <td>1001</td>
                <td>Ja</td>
            </tr>
            <tr>
                <td><b>hond2</b></td>
                <td>5</td>
                <td>1003</td>
                <td>Nee</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <h3>Katten</h3>
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Leeftijd</th>
                <th>Reg. Nr.</th>
                <th>Gereserveerd</th>
            </tr>
            <tr>
                <td><b>KitKat</b></td>
                <td>5</td>
                <td>1002</td>
                <td>Nee</td>
            </tr>
            <tr>
                <td><b>kat2</b></td>
                <td>6</td>
                <td>1004</td>
                <td>Nee</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <h3>Voeg dier toe</h3>
    <form>
        <label for="naam">Naam</label>
        <input type="text" id="naam" />
        <br />
        <label for="leeftijd">Leeftijd</label>
        <input type="text" id="leeftijd" />
        <br />
        <input type="radio" name="dier" value="hond"> Hond<br>
        <input type="radio" name="dier" value="kat"> Kat<br>
        <input type="submit" value="Toevoegen" />
    </form>
</body>
</html>


