<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Dierenasiel</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <a href="/Home/Index"> <img src="~/Content/logo.png"></a>
    <h1> Koop je dier hier. </h1>
    <p class="title"> Wij verkopen de beste dieren. </p>
    <h2> Welke dieren hebben wij? </h2>
    <ul>
        <li> Honden </li>
        <li> Katten </li>
    </ul>
    <p>Meer informatie over de dieren? Klik <a href="/Dieren/Index">hier</a>.</p>
</body>
</html>

